RAPIDPROXY_HOST=HOST
RAPIDPROXY_PORT=PORT
RAPIDPROXY_USERNAME=USERNAME
RAPIDPROXY_PASSWORD=PASSWORD

LOGIN_URL=https://the-internet.herokuapp.com/login
SECURE_URL=https://the-internet.herokuapp.com/secure
LOGIN_USERNAME=tomsmith
LOGIN_PASSWORD=SuperSecretPassword!