RAPIDPROXY_HOST=HOST
RAPIDPROXY_PORT=PORT
RAPIDPROXY_USERNAME=USERNAME
RAPIDPROXY_PASSWORD=PASSWORD

TARGET_URL=https://httpbin.org/headers

CUSTOM_HEADER_NAME=X-Rapidproxy-Example
CUSTOM_HEADER_VALUE=playwright-network-interception